# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# --- Environnements virtuels ---
.venv/
venv/
env/
ENV/

# --- Configs locales ---
ID_client.txt
config/ID_client.txt
TokenCursor.txt
.cache

# --- Données générées / cache ---
data/genre_cache.json

# --- OS Files ---
.DS_Store
Thumbs.db

# --- IDE Files ---
.vscode/
.idea/

# --- Jupyter (si jamais tu en utilises) ---
.ipynb_checkpoints/
